@import "./normalize.css";
@import "./font-awesome.css";
@import "./nice-select.scss";
@import "./slick.css";
@import "./slick-theme.css";


/*** ================================== ***/
/***   --------Main stylesheet-------   ***/
/*** ================================== ***/

@import "_components/_MaisonNeue.scss";

@font-face {
  font-family: Miller-Display;
  src: url(../fonts/Miller-DisplayItalic.otf);
  font-weight: 400;
  font-style: italic;
}

* {
  box-sizing: border-box;
  //border: 1px solid red;

}

$grey: #6f6f6f;

body {
  font-family: MaisonNeue, Arial sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.container {
  width: 1170px;
  margin: 0 auto;
  position: relative;
}

a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

header {
  width: inherit;
  position: absolute;
  left: 0;
  top: 42px;
  z-index: 10;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-nav {
      display: flex;
      align-items: center;

      .navbar {
        .navbar-toggler-icon {
          display: none;
        }

        .navbar-nav {
          padding: 0;
          margin: 0;

          .nav-item {
            list-style: none;
            margin-right: 40px;

            .nav-link {
              font-size: 16px;
              text-transform: uppercase;
              color: $grey;
              cursor: pointer;

              &:hover {
                color: #000;
              }
            }
          }
        }
      }

      .mobile-site__heading {
        display: none;
      }

      .shop-cart {
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
    }
  }
}

.navbar-nav {
  display: flex;
}

@media screen and (max-width: 1199px) {
  .container {
    width: 560px;
  }

  header {
    position: static;

    .container {
      height: 110px;

      .maison-logo__img {
        display: none;
      }

      .header-nav {
        width: inherit;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .navbar {
          position: relative;

          .navbar-toggler-icon {
            display: block;
            cursor: pointer;
            transition: all, 0.3s;

            &:hover {
              color: $grey;
            }
          }

          .navbar-nav {
            position: absolute;
            left: -50px;
            flex-direction: column;
            background: #fff;
            padding: 10px 50px 20px 40px;

            .nav-item {
              list-style: none;
              margin: 10px 0;


              .nav-link {
                font-size: 20px;
                padding: 10px 50px 10px 10px;

                &:hover {
                  background: lighten($grey, 50%);
                }

                &:focus {
                  background: lighten($grey, 40%);
                }
              }
            }
          }
        }

        .mobile-site__heading {
          display: block;
          font-size: 32px;
          font-weight: 900;
          text-transform: uppercase;
        }
      }
    }
  }

  .navbar-nav {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 280px;
  }

  header {
    .container {
      height: 55px;

      .header-nav {
        .navbar {
          .navbar-toggler-icon {
            font-size: 10px;

            &:hover {
              color: $grey;
            }
          }

          .navbar-nav {
            left: -25px;
            padding: 5px 25px 10px 20px;

            .nav-item {
              margin: 5px 0;

              .nav-link {
                font-size: 14px;
                padding: 5px 25px 5px 5px;
              }
            }
          }
        }

        .mobile-site__heading {
          font-size: 18px;
        }

        .shop-cart {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}

.navbar-nav_on-click {
  display: flex;
}

.top-slider__section {
  position: relative;
  width: 100%;
  height: 765px;

  .top-slider {
    .top-slider__slide {
      width: 100%;
      height: 765px;
      outline: none;

      .container {
        height: 765px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .slide__text {
          margin-right: 220px;

          h1 {
            font-size: 32px;
            margin: 0;
            margin-bottom: 15px;
          }

          a {
            font-size: 24px;
            color: $grey;
            text-decoration: underline;
            transition: all, 0.5s;

            &:hover {
              color: #000;
              text-decoration: none;
            }
          }
        }
      }
    }

    .top-slider__slide_01 {
      background: url(../img/top-slider__img_01.jpg) no-repeat center / cover;
    }

    .top-slider__slide_02 {
      background: url(../img/top-slider__img_02.jpg) no-repeat center / cover;
    }

    .top-slider__slide_03 {
      background: url(../img/top-slider__img_01.jpg) no-repeat center / cover;
    }
  }

  .slider-count {
    position: absolute;
    right: 0;
    transform: translateY(275px);
    font-size: 14px;
    font-weight: 400;
    color: $grey;

    p {
      font-size: 24px;
      font-family: Miller-Display;
      font-style: italic;
    }

    span {
      font-family: MaisonNeue;
      font-style: normal;
      margin-left: 5px;
    }

    #current {
      color: #000;
    }
  }

  .top-slider__arrows {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 350px;

    #top-slider__next-arrow {
      position: absolute;
      right: 0;
    }
  }
}
