@font-face {
  font-family: MaisonNeue;
  src: url(../static/fonts/MaisonNeue/MaisonNeue-Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: MaisonNeue;
  src: url(../static/fonts/MaisonNeue/MaisonNeue-Mono.otf);
  font-weight: 400;
}

@font-face {
  font-family: MaisonNeue;
  src: url(../static/fonts/MaisonNeue/MaisonNeue-Medium.otf);
  font-weight: 500;
}
